@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");
$rockNRoll: "RocknRoll One", sans-serif;
$bgColor: coral;
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $rockNRoll;
  background-color: $bgColor;
  h1 {
    text-align: center;
    margin-top: 15px;
  }
  h1:hover {
    font-size: 2.5rem;
    transition: 0.5s;
    text-decoration: underline;
  }
  img {
    padding: 25px;
    display: block;
    margin: auto;
  }
  p {
    text-align: center;
    padding-bottom: 15px;
  }
}
